@import url('https://fonts.googleapis.com/css?family=Work+Sans:400,700');

@font-face {
    font-family: 'pccregular';
    src: url('../type/pcc-boldsemicondensed-webfont.woff2') format('woff2'),
         url('../type/pcc-boldsemicondensed-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}



body {
    background-color: white;
    font-family: Work Sans;
}

.parent {
  position: relative;
}

.child {
  position: relative;
  text-align: center;
  width: 600px;
  top: 4em;
  margin: 0 auto;
  
}

.site-title {
  line-height: 1.5;
  font-size: 29pt;
  font-family: 'pccregular';
  color: #A7A9AB;
}

.site-title .cns {
  color: #7E8A3D;
}

.site-title .cch {
  color: #1E7BB2;
}

.subtitle {
  font-size: 120%;
}