@import url('https://fonts.googleapis.com/css?family=Work+Sans:400,500,600,700');
@font-face {
  font-family: 'pccregular';
  src: url('../type/pcc-boldsemicondensed-webfont.woff2') format('woff2'), url('../type/pcc-boldsemicondensed-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
body {
  font-family: Work Sans;
  color: #333333;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: pccregular;
}
b,
strong {
  font-weight: 600;
}
a {
  color: black;
}
.counselling h1,
.counselling h2,
.counselling h3,
.counselling h4,
.counselling h5 {
  color: #6e9945;
}
.coaching h1,
.coaching h2,
.coaching h3,
.coaching h4,
.coaching h5 {
  color: #1e7bb2;
}
.home-page .page-header {
  border-bottom: 1px solid #EEE;
}
.standard .content {
  padding-left: 4.5em;
  padding-right: 3em;
  padding-bottom: 3em;
}
@media (max-width: 330px) {
  .standard .content {
    padding-left: 3.45em;
    padding-right: 3em;
    padding-bottom: 3em;
  }
}
.standard .content p {
  font-size: 110%;
}
.central {
  overflow: hidden;
}
.navigation {
  padding-right: 0;
  padding-left: 1em;
  padding-bottom: 2em;
}
.content > *:first-child,
.navigation .item {
  margin-top: 42px;
}
.navigation .item + .item {
  margin-top: 0;
}
.navigation .item {
  padding: 0.3em 1em 0.3em 0.3em;
  margin-left: 0.7em;
  position: relative;
  z-index: 200;
}
.navigation .item img {
  height: 1.4em;
  position: relative;
  left: -0.05em;
}
.navigation .item.active {
  font-weight: 700;
}
.counselling .navigation .item.active {
  background-color: #eae9e5;
}
.coaching .navigation .item.active {
  background-color: #eaecef;
}
.counselling .navigation .item.tab:hover {
  background-color: #eae9e5;
}
.coaching .navigation .item.tab:hover {
  background-color: #eaecef;
}
.navigation .item:hover a {
  font-weight: 700;
  cursor: pointer;
  text-decoration: underline;
}
.navigation a {
  font-size: 110%;
}
.navigation .item br {
  display: none;
}
.navigation .item.home br {
  display: inline;
}
/* horizontal navigation */
@media (max-width: 991px) {
  .navigation {
    overflow: hidden;
    max-height: 4em;
    padding-left: 2em;
    font-size: 90%;
  }
  .navigation .item {
    display: inline-block;
    padding: 0.3em 0.3em 1em 0.5em;
    /* RH padding less than LH padding to account for whitespace between blocks */
    margin: 0.5em 0 0 0;
  }
  .navigation .item:not(.active) + .item {
    border-left: 2px solid #eae9e5;
  }
  .navigation .item.active {
    padding-right: 0.8em;
  }
  .navigation .item.active + .item {
    padding-left: 0.2em;
  }
}
@media (max-width: 680px) {
  .navigation .item br {
    display: inline;
  }
  .navigation .item {
    white-space: nowrap;
  }
}
@media (max-width: 500px) {
  .content,
  .home-panel {
    font-size: 85%;
  }
  .navigation {
    max-height: 3.5em;
  }
  .navigation .item {
    font-size: 80%;
    top: 0.6em;
  }
  .navigation .item.home {
    display: none;
  }
  .navigation .item.home + .item {
    border-left: none;
  }
}
@media (max-width: 350px) {
  .navigation {
    position: relative;
    left: -20px;
    width: 150%;
    padding-left: 50px;
  }
}
.counselling .navigation .item a {
  color: #6e9945;
}
.coaching .navigation .item a {
  color: #1e7bb2;
}
.scrolled {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 110;
  background-color: #eae9e5;
}
.dimmer {
  background-color: #333;
  width: 100%;
  height: 500em;
  opacity: 0.1;
  position: absolute;
  left: 0;
  top: 0em;
  z-index: 100;
}
.home-panel {
  padding: 2em 1.5em 3em 1.5em;
  margin-top: 0.52em;
  display: block;
  text-decoration: none;
  color: inherit;
}
.home-panel:hover {
  text-decoration: none;
  color: inherit;
}
@media only screen and (min-width: 992px) {
  .home-page .row {
    overflow: hidden;
  }
  .row.same-height .home-panel {
    margin-bottom: -47em;
    padding-bottom: 50em;
  }
}
.home-panel .button {
  font-family: Work Sans;
  font-weight: 600;
  border: 0.15em solid grey;
  background-color: white;
  border-radius: 5px;
  float: right;
  padding: 0.3em 0.6em;
}
.counselling .home-panel .button {
  color: #3b5325;
  background-color: #f1f0ed;
  border-color: #87b55c;
}
.coaching .home-panel .button {
  color: #0f3f5b;
  background-color: #f3f4f6;
  border-color: #2898db;
}
.home-panel .button:hover {
  background-color: white;
}
.counselling .home-panel,
.counselling .central {
  background-color: #eae9e5;
}
.counselling .home-panel {
  border-top: 7px solid #6e9945;
}
.coaching .home-panel,
.coaching .central {
  background-color: #eaecef;
}
.coaching .home-panel {
  border-top: 7px solid #1e7bb2;
}
.counselling .lead,
.counselling .emphasis {
  color: #81372b;
  font-weight: bold;
}
.lead {
  margin-top: 1.5em;
}
.home-panel p.lead {
  font-size: 120%;
}
.home-panel p.lead b {
  font-weight: 700;
}
.home-panel p {
  font-size: 110%;
  font-weight: 500;
}
.home-panel li {
  font-size: 110%;
  font-weight: 600;
}
.counselling .home-panel li {
  color: #81372b;
}
.coaching .home-panel li {
  color: #8e4f70;
}
.coaching .lead {
  color: #8e4f70;
  font-weight: bold;
}
.coaching .emphasis {
  color: #196693;
}
.coaching .central a {
  color: #7e4663;
  font-weight: 600;
}
.counselling .central a {
  color: #53231c;
  font-weight: 600;
}
.emphasis {
  font-weight: 600;
}
.headline {
  font-weight: 800;
  background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20width%3D'1em'%20height%3D'1.3em'%20viewBox%3D'0%200%20100%20130'%3E%3Ccircle%20r%3D'40'%20cx%3D'50'%20cy%3D'75'%20stroke%3D'%23AAA'%20stroke-width%3D'15'%20fill%3D'%23FFF'%2F%3E%3C%2Fsvg%3E");
  background-position: top left;
  background-repeat: no-repeat;
  padding-left: 1.8em;
  font-size: 110%;
  position: relative;
  left: -1.8em;
  margin-top: 1.7em;
  margin-bottom: 1em;
  margin-right: -1.5em;
}
@media (max-width: 330px) {
  .headline {
    background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20width%3D'1em'%20height%3D'1.3em'%20viewBox%3D'0%200%20100%20130'%3E%3Ccircle%20r%3D'30'%20cx%3D'62'%20cy%3D'75'%20stroke%3D'%23AAA'%20stroke-width%3D'15'%20fill%3D'%23FFF'%2F%3E%3C%2Fsvg%3E");
    left: -1.5em;
    padding-left: 1.5em;
  }
}
.headline + .headline {
  margin-top: 1em;
}
.counselling .headline {
  color: #48642d;
}
.coaching .headline {
  color: #134e71;
}
.strapline {
  padding-left: 1em;
  position: relative;
  top: -0.5em;
  border-left: 1px solid rgba(128, 128, 128, 0.4);
}
.list-inline > li {
  padding-right: 0;
  white-space: nowrap;
}
.list-inline > li::before {
  content: '●';
  padding-right: 5px;
}
.counselling li::before {
  color: #99b344;
}
.coaching li::before {
  color: #5a89a4;
}
.img-responsive {
  width: 100%;
  /* hack required for IE */
}
.banner-image {
  border-bottom: 0.8em solid white;
  background-size: cover;
  padding: 0;
}
.home-page .banner-image {
  border-bottom-width: 0.2em;
}
.banner-image img {
  width: 100%;
  max-width: 100%;
  opacity: 0;
}
@media only screen and (max-width: 620px) {
  .banner-image {
    height: 90px;
    position: relative;
    background-size: cover;
    background-position: center center;
  }
}
.nested-a {
  text-decoration: underline;
}
.counselling .nested-a:hover {
  color: #81372b;
}
.coaching .nested-a:hover {
  color: #8e4f70;
}
/* page header */
.masthead {
  display: table-row;
}
#logo,
.masthead > h1 {
  display: table-cell;
  vertical-align: middle;
}
#logo {
  width: 8em;
}
@media only screen and (max-width: 400px) {
  #logo {
    width: 12em;
  }
  .page-header {
    margin-top: 25px;
    margin-bottom: 5px;
  }
}
.page-header h1,
.page-header p {
  padding-left: 20px;
  color: #808080;
}
.page-header h1 .coaching {
  color: #1e7bb2;
}
.page-header h1 .counselling {
  color: #6e9945;
}
@media only screen and (max-width: 991px) {
  .page-header h1.large-screen {
    display: none;
  }
}
@media only screen and (min-width: 992px) {
  .page-header h1.narrow-screen {
    display: none;
  }
}
#strapline {
  margin-top: 1.5em;
  color: #808080;
  font-size: 145% ;
}
@media only screen and (max-width: 1199px) {
  #strapline {
    font-size: 120% ;
  }
}
@media only screen and (min-width: 1200px) {
  #footer {
    font-size: 100% !important;
  }
}
/* Footer layout & styling */
#footer {
  background-color: #d2dbda;
  margin-top: 1.3em;
  margin-bottom: 0;
  padding: 1.5em 1.5em 2em 1.5em;
  color: #656769;
  font-size: 85%;
}
#footer a {
  color: #656769;
  font-weight: 600;
}
#footer .contact > span {
  display: block;
  white-space: nowrap;
}
@media screen and (max-width: 380px) {
  #footer .contact > span {
    white-space: normal;
  }
}
#footer .name {
  font-weight: bold;
}
#footer .contact > span:last-child {
  margin-bottom: 1em;
}
#footer .contact .assoc-logo {
  margin-bottom: 1.5em;
}
#footer-info {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
#logotype,
#chairs {
  flex-grow: 0;
}
#footer-text {
  flex-grow: 2;
}
#footer-text {
  display: flex;
  flex-wrap: wrap;
}
#footer-text > div {
  padding-right: 3.25em;
}
#footer .contact.counselling {
  order: 1;
}
#footer .contact.tel.email {
  order: 0;
  min-width: 350px;
}
#footer .contact.coaching {
  order: 3;
}
#footer .credit {
  order: 4;
}
@media only screen and (min-width: 992px) {
  #footer .contact.tel.email {
    order: 2;
    text-align: center;
    min-width: auto;
  }
  #footer-text {
    justify-content: space-between;
  }
}
@media only screen and (max-width: 480px) {
  #footer-info {
    flex-wrap: wrap;
  }
}
#logotype img {
  opacity: 0.3;
  width: 5em;
}
#logotype {
  padding-right: 1.5em;
  padding-bottom: 1em;
  width: 7.5em;
}
#chairs img {
  opacity: 0.3;
  width: 5em;
}
#chairs {
  width: 6em;
}
.credit img {
  opacity: 0.5;
  position: relative;
  width: 2em;
  height: 2em;
  top: -2px;
}
@media only screen and (max-width: 595px) {
  #chairs {
    display: none;
  }
}
@media only screen and (max-width: 991px) {
  #footer .contact.tel.email {
    display: block;
  }
}
#overlay {
  position: fixed;
  padding: 0;
  margin: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(28, 23, 23, 0.5);
  display: none;
  z-index: 100;
  pointer-events: none;
}
.hotspot {
  cursor: pointer;
}
img.profile-photo {
  width: 165px;
  float: left;
  margin-right: 15px;
  margin-bottom: 15px;
  box-sizing: content-box;
  margin-top: 15px;
}
@media (max-width: 415px) {
  img.profile-photo {
    width: 100px;
    margin-top: 8px;
  }
}
.counselling img.profile-photo {
  background-color: #ddd7bf;
}
.coaching img.profile-photo {
  background-color: #cde6e4;
}
.testimonial {
  margin-top: 2em;
}
.testimonial .quote {
  background-color: #ffffff;
  padding: 0.7em 0.7em 0.7em 1em;
  border-radius: 0.5em;
  position: relative;
  font-size: 95% !important;
  left: -0.5em;
}
.testimonial .quote:before {
  content: url("data:image/svg+xml,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20width%3D'2em'%20height%3D'2em'%20viewBox%3D'-20%200%20100%20100'%3E%3Cpolygon%20fill%3D'white'%20points%3D'0%2C20%2080%2C100%200%2C100'%2F%3E%3C%2Fsvg%3E");
  position: absolute;
  top: -1.8em;
}
.server-role {
  position: fixed;
  color: #fff;
  background-color: #8a0f0f;
  text-transform: uppercase;
  font-weight: 700;
  opacity: .9;
  width: 20em;
  text-align: center;
  line-height: 2em;
  transform: translate(-8em, 1em) rotate(-45deg);
  z-index: 3000;
}
/* Profile headers and Association logos */
.profile-header {
  display: table;
}
@media (max-width: 660px) {
  .counselling .profile-header {
    display: block;
  }
}
.profile-header {
  margin-bottom: 1.5em;
}
.profile-header .letters {
  font-weight: 400;
  font-size: 70%;
}
.profile-header h3,
.profile-header img {
  display: table-cell;
  vertical-align: bottom;
}
.counselling .profile-header h3 {
  position: relative;
  top: -0.4em;
}
.counselling .content .assoc-logo {
  max-width: 18em;
  /*     position: relative;
    top: -0.75em; */
}
.coaching .profile-header .assoc-logo {
  width: 4.75em;
  padding-left: 0.8em;
}
.coaching .profile-header h3 {
  position: relative;
  top: -0.1em;
}
#footer .assoc-logo {
  height: 4em;
  padding-top: 1em;
  filter: grayscale(100%);
  opacity: 0.5;
}
.small-print {
  font-size: 70%;
  opacity: 0.8;
}
/*# sourceMappingURL=/css/master.css.map */