@import url('https://fonts.googleapis.com/css?family=Work+Sans:400,500,600,700');

@font-face {
    font-family: 'pccregular';
    src: url('../type/pcc-boldsemicondensed-webfont.woff2') format('woff2'),
         url('../type/pcc-boldsemicondensed-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

// Colours
// Counselling
@cou-feature-col: #6E9945;
@cou-background-col: #EAE9E5;
@cou-second-col: #99B344;
@cou-leader-col:  rgb(129, 55, 43);

// Coaching
@coa-feature-col: #1E7BB2;
@coa-background-col: #EAECEF; // get proper flattened colour from Illustrator
@coa-second-col: #8D5975;
@coa-leader-col: #8E4F70;

@grey: hsl(0, 0%, 50%);

// footer
@footer-bg: #D2DBDA;
@footer-logo-opacity: 0.3;

@fat-border: 7px;

// common margins
@top-margin: 1.3em;
@inner-vert-padding: 1.5em;

body {
    font-family: Work Sans;
    color: hsl(0, 0%, 20%);
}



h1, h2, h3, h4, h5 {
    font-family: pccregular;
}

b, strong {
    font-weight: 600;
}

a {
    color: black;
}

.counselling h1, .counselling h2, .counselling h3, .counselling h4, .counselling h5 {
    color: @cou-feature-col;
}

.coaching h1, .coaching h2, .coaching h3, .coaching h4, .coaching h5 {
    color: @coa-feature-col;
}

.home-page .page-header {
    border-bottom: 1px solid #EEE;
}

.standard .content {
    padding-left: @inner-vert-padding * 3;
    padding-right: @inner-vert-padding * 2;
    padding-bottom: 3em;
}

@media (max-width: 330px) { 
    .standard .content {
        padding-left: @inner-vert-padding * 2.3;
        padding-right: @inner-vert-padding * 2;
        padding-bottom: 3em;
    }
}

.standard .content p {
    font-size: 110%;
}

.central {
    overflow: hidden;
}

.navigation {
    padding-right: 0;
    padding-left: 1em;
    padding-bottom: 2em;
}

.content > *:first-child, .navigation .item {
    margin-top: 42px;
}

.navigation .item + .item {
    margin-top: 0;
}

.navigation .item {
    padding: 0.3em 1em 0.3em 0.3em;
    margin-left: 0.7em;
    position: relative;
    z-index: 200;
}

.navigation .item img {
    height: 1.4em;
    position: relative;
    left: -0.05em;
    // top: -0.2em;
    // opacity: 0.5;
}

.navigation .item.active {
    font-weight: 700;
}


.counselling .navigation .item.active {
    background-color: @cou-background-col;
}

.coaching .navigation .item.active {
    background-color: @coa-background-col;
}

.counselling .navigation .item.tab:hover {
    background-color: @cou-background-col;
}

.coaching .navigation .item.tab:hover {
    background-color: @coa-background-col;
}

.navigation .item:hover a {
    font-weight: 700;
    cursor: pointer;
    text-decoration: underline;
}

.navigation a {
    font-size: 110%;
}

.navigation .item br {
    display: none;
}

.navigation .item.home br {
    display: inline;
}

/* horizontal navigation */
@media (max-width: 991px) { 
    .navigation {
        overflow: hidden;
        max-height: 4em;
        padding-left: 2em;
        font-size: 90%;
    }

    .navigation .item {
        display: inline-block;
        padding: 0.3em 0.3em 1em 0.5em; /* RH padding less than LH padding to account for whitespace between blocks */
        margin: 0.5em 0 0 0;
    }

    .navigation .item:not(.active) + .item {
        border-left: 2px solid @cou-background-col;
    }

    .navigation .item.active {
        padding-right: 0.8em;
    }

    .navigation .item.active + .item {
        padding-left: 0.2em;
    }
}

// small-screen navigation
@media (max-width: 680px) { 
    .navigation .item br {
        display: inline;
    }

    .navigation .item {
        white-space: nowrap;
    }
}

@media (max-width: 500px) { 
    .content, .home-panel {
        font-size: 85%;
    }

    .navigation {
        max-height: 3.5em;
    }

    .navigation .item {
        font-size: 80%;
        top: 0.6em;
    }
    
    .navigation .item.home {
        display: none;
    }

    .navigation .item.home + .item {
        border-left: none;
    }
}

@media (max-width: 350px) {
    .navigation {
        position: relative;
        left: -20px;
        width: 150%;
        padding-left: 50px;

    }


}


.counselling .navigation .item a {
    color: @cou-feature-col;
}

.coaching .navigation .item a {
    color: @coa-feature-col;
}


.scrolled {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 110;
    background-color: @cou-background-col;
}

.dimmer {
    background-color: #333;
    width: 100%;
    height: 500em;
    opacity: 0.1;
    position: absolute;
    left: 0;
    top: 0em;
    z-index: 100;
}

@home-panel-bottom-padding: 3em;


.container {
    // background-color: @footer-bg;
//     display: table;
}

.home-panel {
    padding: 2em @inner-vert-padding @home-panel-bottom-padding @inner-vert-padding;
    margin-top: @top-margin * 0.4;
    display: block;
    text-decoration: none;
    color: inherit;
}

.home-panel:hover {
    text-decoration: none;
    color: inherit;
}

// trick to make panels same height; see https://scotch.io/bar-talk/different-tricks-on-how-to-make-bootstrap-columns-all-the-same-height#option-3-using-a-negative-margin-and-huge-padding-trick
@media only screen and (min-width : 992px) {
    .home-page .row {
        overflow: hidden;
    }

    .row.same-height .home-panel {
        margin-bottom: -50em + @home-panel-bottom-padding;
        padding-bottom: 50em;
    }
}

.home-panel .button {
    font-family: Work Sans;
    font-weight: 600;
    border: 0.15em solid grey;
    background-color: white;
    border-radius: 5px;
    float: right;
    // position: absolute;
    // right: 0; bottom: 2em;
    padding: 0.3em 0.6em;
}

.counselling .home-panel .button {
    color: lighten(@cou-feature-col, -20);
    background-color: lighten(@cou-background-col, 3);
    border-color: lighten(@cou-feature-col, 10);
}

.coaching .home-panel .button {
    color: lighten(@coa-feature-col, -20);
    background-color: lighten(@coa-background-col, 3);
    border-color: lighten(@coa-feature-col, 10);
}

.home-panel .button:hover {
    background-color: white;
}

.counselling .home-panel, .counselling .central {
    background-color: @cou-background-col;
}

.counselling .home-panel {
     border-top: @fat-border solid @cou-feature-col; 
}

.coaching .home-panel, .coaching .central {
    background-color: @coa-background-col;
}

.coaching .home-panel {
    border-top: @fat-border solid @coa-feature-col;
}

.counselling .lead, .counselling .emphasis {
    color: @cou-leader-col;
    font-weight: bold;
}

.lead {
    margin-top: 1.5em;
}

.home-panel p.lead {
    font-size: 120%;
}

.home-panel p.lead b {
    font-weight: 700
}

.home-panel p {
    font-size: 110%;
    font-weight: 500;
}

.home-panel li {
    font-size: 110%;
    font-weight: 600;
}

.counselling .home-panel li {
    color: @cou-leader-col;
}

.coaching .home-panel li {
    color: @coa-leader-col;
}

.coaching .lead, {
    color: @coa-leader-col;
    font-weight: bold;
}

.coaching .emphasis {
    color: darken(@coa-feature-col, 7%);
}

.coaching .central a {
    color: darken(@coa-leader-col, 5%);
    font-weight: 600;
}

.counselling .central a {
    color: darken(@cou-leader-col, 12%);
    font-weight: 600;
}

.emphasis {
    font-weight: 600;
}

.headline {
    font-weight: 800;
    background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20width%3D'1em'%20height%3D'1.3em'%20viewBox%3D'0%200%20100%20130'%3E%3Ccircle%20r%3D'40'%20cx%3D'50'%20cy%3D'75'%20stroke%3D'%23AAA'%20stroke-width%3D'15'%20fill%3D'%23FFF'%2F%3E%3C%2Fsvg%3E");
    background-position: top left;
    background-repeat: no-repeat;
    padding-left: 1.8em;
    font-size: 110%;
    position: relative;
    left: -1.8em;
    margin-top: 1.7em;
    margin-bottom: 1em;
    margin-right: -1.5em;
}

@media (max-width: 330px) {
    .headline {
        background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20width%3D'1em'%20height%3D'1.3em'%20viewBox%3D'0%200%20100%20130'%3E%3Ccircle%20r%3D'30'%20cx%3D'62'%20cy%3D'75'%20stroke%3D'%23AAA'%20stroke-width%3D'15'%20fill%3D'%23FFF'%2F%3E%3C%2Fsvg%3E");
        left: -1.5em;
        padding-left: 1.5em;
    }
}

.headline + .headline {
    margin-top: 1em;
}

.counselling .headline {
    color: darken(@cou-feature-col, 15%);
}

.coaching .headline {
    color: darken(@coa-feature-col, 15%);
}

.strapline {
    padding-left: 1em;
    position: relative;
    top: -0.5em;
    border-left: 1px solid hsla(0, 0%, 50%, 0.4)
}

.list-inline > li {
    padding-right: 0;
    white-space: nowrap;
}

.list-inline > li::before {
    content: '●';
    padding-right: 5px;
}

.counselling li::before {
    color: @cou-second-col;
}

.coaching li::before {
    color: #5a89a4;
}

.img-responsive {
    width: 100%; /* hack required for IE */
    }

.banner-image {
    border-bottom: 0.8em solid white;
    background-size: cover;
    padding: 0;
}

.home-page .banner-image {
    border-bottom-width: 0.2em;
}

.banner-image img {
    width: 100%;
    max-width: 100%;
    opacity: 0;
}

@media only screen and (max-width : 620px) {
    .banner-image {
        // overflow: hidden;
        height: 90px;
        position: relative;

        background-size: cover;
        background-position: center center;
    }

}

.nested-a {
    text-decoration: underline;
}

.counselling .nested-a:hover {
    color: @cou-leader-col;
}

.coaching .nested-a:hover {
    color: @coa-leader-col;
}


/* page header */

.masthead {
  display: table-row;
}

#logo, .masthead > h1 {
    display: table-cell;
    vertical-align: middle;
}

#logo {
    width: 8em;
}

@media only screen and (max-width: 400px) {
    #logo {
        width: 12em;
    }

    .page-header {
        margin-top: 25px;
        margin-bottom: 5px;
    }
}

.page-header h1, .page-header p {
    padding-left: 20px;
    color: @grey;
}

.page-header h1 .coaching {
    color: @coa-feature-col;
}

.page-header h1 .counselling {
    color: @cou-feature-col;
}


@media only screen and (max-width: 991px) {
    .page-header h1.large-screen {
        display: none;
    }
}

@media only screen and (min-width: 992px) {
    .page-header h1.narrow-screen {
        display: none;
    }
}

#strapline {
    margin-top: 1.5em;
    color: @grey;
    font-size: 145% ;
}

@media only screen and (max-width: 1199px) {
    #strapline {
        font-size: 120% ;
    }
}

@media only screen and (min-width: 1200px) {
    #footer {
        font-size: 100% !important;
    }
}

/* Footer layout & styling */

// #footer div {
//     border: 1px dotted grey
// }

#footer {
    background-color: @footer-bg; 
    margin-top: @top-margin;
    margin-bottom: 0;
    padding: 1.5em @inner-vert-padding 2em @inner-vert-padding;
    color: #656769;
    font-size: 85%;
}

#footer a {
    color: #656769;
    font-weight: 600;
}

// ensure that names and qualification lists don't get split 
#footer .contact > span {
  display: block;
  white-space: nowrap;
}

// ..except on very narrow screens
@media screen and (max-width: 380px) {
    #footer .contact > span {
      white-space: normal;
    }
}

#footer .name {
    font-weight: bold;
}

// add a bit of space between text and assoc-logos
#footer .contact > span:last-child {
  margin-bottom: 1em; 
}

// space below assoc-logos necessary if vertically stacked
#footer .contact .assoc-logo {
    margin-bottom: 1.5em; 
}

#footer-info {
    display: flex;
    align-items: flex-start; // equivalent to vertical-align: top
    justify-content: space-between;
}

#logotype, #chairs {
    flex-grow: 0;
}

#footer-text {
    flex-grow: 2; // ensures that this child of #footer-info fills all available space, pushing logos to the edge
}

#footer-text {
    display: flex;
    flex-wrap: wrap;
}

#footer-text > div {
    padding-right: @inner-vert-padding * 1.5;
}

#footer .contact.counselling {
    order: 1;
}

#footer .contact.tel.email {
    order: 0; // default actually but left in for clarity
    min-width: 350px;
}

#footer .contact.coaching {
    order: 3;
}

#footer .credit {
    order: 4;
}

// alternative layout for wider screens (centered :-( )

@media only screen and (min-width: 992px) {
    #footer .contact.tel.email {
        order: 2; // moves tel and email to middle
        text-align: center;
        min-width: auto; // cancel the min-width: 500px above
    }

    // center the tel and email, pushing names to edges :-(
    #footer-text {
        justify-content: space-between;
    }
}

@media only screen and (max-width: 480px) {
    #footer-info {
        flex-wrap: wrap;
    }
}

#logotype img {
   opacity: @footer-logo-opacity;
   width: 5em;
}
#logotype {
   padding-right: @inner-vert-padding;
   padding-bottom: 1em;
   width: 5em + 1em + @inner-vert-padding;
}

#chairs img {
      opacity: @footer-logo-opacity;
      width: 5em;
}
#chairs {
    width: 5em + 1em;
}

.credit img {
    opacity: 0.5;
    position: relative;
    width: 2em; height: 2em;
    top: -2px;
}

@media only screen and (max-width: 595px) {
    #chairs {
        display: none;
    }
}

@media only screen and (max-width: 991px) {
    #footer .contact.tel.email {
        display: block;
    }
}

#overlay {
    position: fixed;
    padding: 0;
    margin: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: hsla(0,10%,10%,.5);
    display: none;
    z-index: 100;
    pointer-events: none;
}

.hotspot {
    cursor: pointer;
}

img.profile-photo {
    width: 165px;
    float: left;
    margin-right: 15px;
    margin-bottom: 15px;
    box-sizing: content-box;
    margin-top: 15px;
}

@media  (max-width: 415px) {
    img.profile-photo {
        width: 100px;
        margin-top: 8px;
    }
}

.counselling img.profile-photo {
    // border: 3px solid @cou-feature-col;
    background-color: saturate(darken(@cou-background-col, 10%), 20%);
}

.coaching img.profile-photo {
    // border: 3px solid @coa-feature-col;
    background-color: #cde6e4; // saturate(darken(@coa-background-col, 10%), 20%);
}

.testimonial {
    margin-top: 2em;
}

@bubble-colour: white;

.testimonial .quote {
    background-color: @bubble-colour;
    padding: 0.7em 0.7em 0.7em 1em;
    border-radius: 0.5em;
    position:relative;
    font-size: 95% !important;
    left: -0.5em;
}

.testimonial .quote:before {
    content: url("data:image/svg+xml,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20width%3D'2em'%20height%3D'2em'%20viewBox%3D'-20%200%20100%20100'%3E%3Cpolygon%20fill%3D'white'%20points%3D'0%2C20%2080%2C100%200%2C100'%2F%3E%3C%2Fsvg%3E");
    position: absolute;
    top: -1.8em;
}

.server-role {
    position: fixed;
    color: #fff;
    background-color: hsl(0, 80%, 30%);
    text-transform: uppercase;
    font-weight: 700;
    opacity: .9;
    width: 20em;
    text-align: center;
    line-height: 2em;
    transform: translate(-8em,1em) rotate(-45deg);
    z-index: 3000;
}

/* Profile headers and Association logos */

.profile-header {
    display: table;
}

@media (max-width: 660px) {
    .counselling .profile-header {
        display: block;
    }
}

// .profile-header {
//     position: relative;
//     top: -1em;
// }

.profile-header {
    margin-bottom: 1.5em;
}

.profile-header .letters {
    font-weight: 400;
    font-size: 70%;
}

.profile-header h3, .profile-header img {
    display: table-cell;
    vertical-align: bottom;
}

.counselling .profile-header h3 {
    position: relative;
    top: -0.4em;
}

.counselling .content .assoc-logo {
    max-width: 18em;
/*     position: relative;
    top: -0.75em; */
}

.coaching .profile-header .assoc-logo {
    width: 4.75em;
    padding-left: 0.8em;
}

.coaching .profile-header h3 {
    position: relative;
    top: -0.1em;
}

// @media (min-width: 500px) { 
//     .profile-header br {
//         display: none;
//     }
// }

#footer .assoc-logo {
    height: 4em;
    padding-top: 1em;
    filter: grayscale(100%);
    opacity: @footer-logo-opacity + 0.2;
}

.small-print {
    font-size: 70%;
    opacity: 0.8;
}

