          <div class="central">
            <div class="row">
              <div class="col-md-12">
                <div class="banner-image">
                  <img src="/img/BoscombePier1.jpg" class="img-responsive" />
                </div>
              </div>
            </div>

            <script>
              // for demo puposes only
              var images = ["Sailing_boat_2.jpg", "WoodenPier1.jpg", "BoscombePier1.jpg", "Sailing_boat_2340.jpg", "Deckchairs.jpg", "BoscombePier3.jpg", "Waves.jpg"];

              var i = 0;

              $(document).ready(function() {
                $(".banner-image img").on("click", function() {
                  i++;
                  if (i == images.length) {
                    i = 0;
                  }
                  $(this).attr("src", "/img/" + images[i]);
                })
              })
            </script>