              <nav class="col-md-3 navigation">
                <div class="dimmer"></div>
                <div class="item home"><img src="/img/logo-chairs-cou.svg" /><br/><a href="/">Home</a></div>
                <div class="item tab" id="nav-home"><a href="home.shtml"><br/>Counselling</a></div>
                <!--<div class="item" id="nav-detail"><a href="detail.shtml">What is counselling?</a></div>-->
                <div class="item tab" id="nav-process"><a href="process.shtml">The <br/>process</a></div>
                <div class="item tab" id="nav-about"><a href="about.shtml">About <br/>Nondas</a></div>
                <div class="item tab" id="nav-fees"><a href="fees.shtml"><br/>Fees</a></div>
                <div class="item tab" id="nav-contact"><a href="contact.shtml">Contact <br/>us</a></div>
                <!--<div class="item" id="nav-links"><a href="links.shtml">Useful links</a></div>-->
              </nav>
