      <footer class="row">
        <div class="col-md-12">
          <div id="footer">
            <div id="footer-info">
              <div id="logotype"><img src="/img/logo-type.svg" /></div>
              <div id="footer-text">
                <div class="contact tel email">
                  <span>Tel: <a href="tel:+447772001658">07772 001658</a></span>
                  <span>Email: <a href="mailto:info@personalcounsellingcoaching.co.uk">info@personal&shy;counsellingcoaching.co.uk</a></span>
                </div>
                <div class="counselling contact">
                  <span class="name">Nondas Triantopoulos</span>
                  <span class="quals">BSc, Dip Couns, MBACP</span>
                  <!--<span class="mobile">07501 445145</span>-->
                  <a href="http://www.bacp.co.uk/"><img class="assoc-logo" src="/img/BAPC.png" /></a>
                </div>
                <div class="coaching contact">
                  <span class="name">Lydia Saroglou</span>
                  <span class="quals">BSc, Dip LCH, AMAC</span>
                  <!--<span class="mobile">07552 683500</span>-->
                  <a href="http://www.associationforcoaching.com/pages/home/"><img class="assoc-logo" src="/img/AfC.png" /></a>
                </div>
                <div class="credit">Website by <a href="http://www.welshdesign.co.uk/portfolio/projects/pcc"><img src="/img/RW-Lineart.svg" /> Richard Welsh</a></div>
              </div>
              <div id="chairs"><img src="/img/logo-chairs.svg" /></div>
            </div>
          </div>
        </div>
      </footer>