      <header class="page-header" style="background-color: white">
        <div class="masthead">
          <a href="/"><img src="/img/logo-master.svg" id="logo" class="img-responsive" /></a>
          <h1> Personal <a class="counselling" href="/counselling/home.shtml">Counselling</a> &amp; <a class="coaching" href="/coaching/home.shtml">Coaching</a></h2>
        </div>
      </header>
